body{
    background-color: lightgray;
}

header{
    color: palevioletred;
    text-align: center;
}

ol{
    font-family:Lucidatypewriter, monospace;
    bottom: 0;
}

h3{
    margin-left: 100px;
}
