body{
    background-color: lightgray;
}

header{
    color: palevioletred;
    text-align: center;
}

ul {
    font-family:Lucidatypewriter, monospace;
    bottom: 0;
    width: 100%;
}

h2{
    font-family: Fixed, monospace;
    text-align: center;
}
p{
    text-align: center;
}

a{
    border-left: 30px;
    margin:0 auto;
}

h1{
    color:palevioletred;
    text-align: center;
}
form{
    text-align: center;
}

a:link{
    color:palevioletred;
}
a:hover{
    color: hotpink;
}
a:active{
    color:blue;
}
a:visited{
    color:green;
}